extend layout

block content
        .col-sm-9.text-left
          .row
            .col-sm-4
            .col-sm-4.text-center
              form(action='/add_new_note', method='post' enctype='multipart/form-data')
                
                 
                  .form-group
                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='email') Country:
                      .col-sm-10
                        if countrylist
                            select(id ="country" name="countryId"  required='true' onchange="this.form.submit()")
                              each item in countrylist
                                -if(countryid==item._id) 
                                 option( selected value=item._id) #{item.countryname}
                                -else
                                 option( value=item._id) #{item.countryname}
                        else
                            select(id ="country" name="countryId")
                              option(value="") NO VALUE

                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='denomination') Denomination:
                      .col-sm-10
                         if denominationlist
                            select(id ="denomination" name="denominationvalue"  required='true')
                              each item in denominationlist
                               option(  value=item._id) #{item.amount}
                         else
                            select(id ="denomination" name="denominationvalue")
                              option(value="") NO VALUE

                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Home Image:
                      .col-sm-10
                      input(type='file', name='homeimage')
                       
                      
                    .row(style='padding-bottom:15px;')
                      .col-sm-12
                            h3 Add features
                      .col-sm-10
                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Side 1 Image
                      .col-sm-10
                      input(type='file', name='side1')

                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Feature1:
                      .col-sm-10
                        input(type='text', name='feature1')  
                      label.control-label.col-sm-2(for='passord') Image:
                      .col-sm-2
                        input(type='file', name='image1') 
                        br
                        br

                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Feature2:
                      .col-sm-10
                        input(type='text', name='feature2')  
                      label.control-label.col-sm-2(for='passord') Image:
                      .col-sm-10
                        input(type='file', name='image2')
                        br
                        br

                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Feature3:
                      .col-sm-10
                        input(type='text', name='feature3')  
                      label.control-label.col-sm-2(for='passord') Image:
                      .col-sm-10
                        input(type='file', name='image3')
                        br
                        br

                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Feature4:
                      .col-sm-10
                        input(type='text', name='feature4')  
                      label.control-label.col-sm-2(for='passord') Image:
                      .col-sm-10
                        input(type='file', name='image4')
                        br
                        br

                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Feature5:
                      .col-sm-10
                        input(type='text', name='feature5')  
                      label.control-label.col-sm-2(for='passord') Image:
                      .col-sm-10
                        input(type='file', name='image5')
                        br
                        br

                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Feature6:
                      .col-sm-10
                        input(type='text', name='feature6')  
                      label.control-label.col-sm-2(for='passord') Image:
                      .col-sm-10
                        input(type='file', name='image6')
                        br
                        br

                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Feature7:
                      .col-sm-10
                        input(type='text', name='feature7')  
                      label.control-label.col-sm-2(for='passord') Image:
                      .col-sm-10
                        input(type='file', name='image7')
                        br
                        br

                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Feature8:
                      .col-sm-10
                        input(type='text', name='feature8')  
                      label.control-label.col-sm-2(for='passord') Image:
                      .col-sm-10
                        input(type='file', name='image8')
                        br
                        br

                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Feature9:
                      .col-sm-10
                        input(type='text', name='feature9')  
                      label.control-label.col-sm-2(for='passord') Image:
                      .col-sm-10
                        input(type='file', name='image9')
                        br
                        br

                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Feature10:
                      .col-sm-10
                        input(type='text', name='feature10')  
                      label.control-label.col-sm-2(for='passord') Image:
                      .col-sm-10
                        input(type='file', name='image10')
                        br
                        br

                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Feature11:
                      .col-sm-10
                        input(type='text', name='feature11')  
                      label.control-label.col-sm-2(for='passord') Image:
                      .col-sm-10
                        input(type='file', name='image11')
                        br
                        br

                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Feature12:
                      .col-sm-10
                        input(type='text', name='feature12')  
                      label.control-label.col-sm-2(for='passord') Image:
                      .col-sm-10
                        input(type='file', name='image12')
                        br
                        br

                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Feature13:
                      .col-sm-10
                        input(type='text', name='feature13')  
                      label.control-label.col-sm-2(for='passord') Image:
                      .col-sm-10
                        input(type='file', name='image13')
                        br
                        br
                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Side 2 Image
                      .col-sm-10
                      input(type='file', name='side2')
                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Feature14:
                      .col-sm-10
                        input(type='text', name='feature14')  
                      label.control-label.col-sm-2(for='passord') Image:
                      .col-sm-10
                        input(type='file', name='image14')
                        br
                        br
                    
                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Feature15:
                      .col-sm-10
                        input(type='text', name='feature15')  
                      label.control-label.col-sm-2(for='passord') Image:
                      .col-sm-10
                        input(type='file', name='image15')
                        br
                        br

                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Feature16:
                      .col-sm-10
                        input(type='text', name='feature16')  
                      label.control-label.col-sm-2(for='passord') Image:
                      .col-sm-10
                        input(type='file', name='image16')
                        br
                        br

                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Feature17:
                      .col-sm-10
                        input(type='text', name='feature17')  
                      label.control-label.col-sm-2(for='passord') Image:
                      .col-sm-10
                        input(type='file', name='image17')
                        br
                        br

                    .row(style='padding-bottom:15px;')
                      label.control-label.col-sm-2(for='passord') Feature18:
                      .col-sm-10
                        input(type='text', name='feature18')  
                      label.control-label.col-sm-2(for='passord') Image:
                      .col-sm-10
                        input(type='file', name='image18')
                        br
                        br







                       

                    .row
                      .control-label.col-sm-2
                      .col-sm-10
                        input.btn.btn-info(type='submit', value='Add')
            .col-sm-4
        .col-sm-1
    footer.container-fluid.text-center
      p Footer Text
